.blocker__ground {
  display: block;
  font-size: 0;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }
  .blocker__ground:before, .blocker__ground:after {
    content: "";
    display: block;
    position: fixed;
    z-index: 10000;
    padding: 0;
    margin: 0;
    font-size: 0;
    border-width: 0;
    transition: .2s all ease; }
  .blocker__ground:before {
    bottom: 0;
    left: 0;
    border-top: 0vh solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 0vh solid black;
    border-left: 0vw solid black; }
  .blocker__ground:after {
    top: 0;
    right: 0;
    border-top: 0vh solid black;
    border-right: 0vw solid black;
    border-bottom: 0vh solid transparent;
    border-left: 0vw solid transparent; }
  .blocker__ground.lock:before, .blocker__ground.lock:after {
    border-top-width: 50vh;
    border-right-width: 50vw;
    border-bottom-width: 50vh;
    border-left-width: 50vw; }

.lock .blocker__loader {
  display: block; }

.blocker__loader {
  display: none;
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 10001;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); }
  .blocker__loader .boxer {
    height: 160px;
    width: 400px; }
    .blocker__loader .boxer__center-sprocket {
      position: absolute;
      top: calc(50% - 65px);
      left: calc(50% - 65px);
      border: 20px double white;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      animation: roll 0.8s linear infinite; }
      .blocker__loader .boxer__center-sprocket:before {
        content: "";
        display: block;
        position: absolute;
        width: 130px;
        height: 130px;
        top: -30px;
        left: -30px;
        border: 10px dashed white;
        border-radius: 50%; }
    .blocker__loader .boxer__left-cylinder {
      position: absolute;
      top: 40%;
      width: 160px;
      height: 20%;
      animation: bump 0.4s ease-in-out infinite alternate; }
      .blocker__loader .boxer__left-cylinder .rod {
        position: absolute;
        right: 40px;
        top: calc(50% - 18px);
        height: 16px;
        border-top: 10px solid transparent;
        border-right: 0;
        border-bottom: 10px solid transparent;
        border-left: 120px solid white;
        border-radius: 25%;
        transform-origin: 100% 50%;
        animation: bi 0.4s ease-in-out infinite alternate;
        animation-delay: 0.2s; }
        .blocker__loader .boxer__left-cylinder .rod:before, .blocker__loader .boxer__left-cylinder .rod:after {
          content: "";
          display: inline-block;
          position: absolute;
          background: white;
          border-radius: 50%;
          box-shadow: 0 0 8px black; }
        .blocker__loader .boxer__left-cylinder .rod:before {
          top: calc(50% - 10px);
          right: -10px;
          width: 20px;
          height: 20px; }
        .blocker__loader .boxer__left-cylinder .rod:after {
          top: calc(50% - 20px);
          left: -140px;
          width: 40px;
          height: 40px; }
      .blocker__loader .boxer__left-cylinder .piston {
        position: absolute;
        height: 70px;
        width: 50px;
        right: 15px;
        top: calc(50% - 35px);
        background: white;
        z-index: -1; }
        .blocker__loader .boxer__left-cylinder .piston:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 2px;
          right: 4px;
          width: 3px;
          height: 66px;
          border: 1px solid black;
          border-top-width: 0px;
          border-bottom-width: 0px; }
    .blocker__loader .boxer__right-cylinder {
      position: absolute;
      top: 40%;
      width: 160px;
      height: 20%;
      animation: reverse_bump 0.4s ease-in-out infinite alternate; }
      .blocker__loader .boxer__right-cylinder .rod {
        position: absolute;
        left: 40px;
        top: calc(50% - 18px);
        height: 16px;
        border-top: 10px solid transparent;
        border-left: 0;
        border-bottom: 10px solid transparent;
        border-right: 120px solid white;
        border-radius: 25%;
        transform-origin: 0 50%;
        animation: bi 0.4s ease-in-out infinite alternate;
        animation-delay: 0.2s; }
        .blocker__loader .boxer__right-cylinder .rod:before, .blocker__loader .boxer__right-cylinder .rod:after {
          content: "";
          display: inline-block;
          position: absolute;
          background: white;
          border-radius: 50%;
          box-shadow: 0 0 8px black; }
        .blocker__loader .boxer__right-cylinder .rod:before {
          top: calc(50% - 10px);
          left: -10px;
          width: 20px;
          height: 20px; }
        .blocker__loader .boxer__right-cylinder .rod:after {
          top: calc(50% - 20px);
          right: -140px;
          width: 40px;
          height: 40px; }
      .blocker__loader .boxer__right-cylinder .piston {
        position: absolute;
        height: 70px;
        width: 50px;
        left: 15px;
        top: calc(50% - 35px);
        background: white;
        z-index: -1; }
        .blocker__loader .boxer__right-cylinder .piston:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 2px;
          left: 4px;
          width: 3px;
          height: 66px;
          border: 1px solid black;
          border-top-width: 0px;
          border-bottom-width: 0px; }

@keyframes bump {
  from {
    left: 40%; }
  to {
    left: 60%; } }

@keyframes reverse_bump {
  from {
    left: calc(60% - 160px); }
  to {
    left: calc(40% - 160px); } }

@keyframes bi {
  from {
    transform: rotate(14deg); }
  to {
    transform: rotate(-14deg); } }

@keyframes roll {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.result-table {
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0; }
  .result-table td {
    border: 1px solid #dedede;
    padding: 4px 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .result-table .row__label {
    font-weight: bold;
    text-align: left; }
  .result-table .row__cell {
    max-width: 80px;
    text-align: right; }
  .result-table .row__header {
    font-weight: bold;
    background: #d3d3d3;
    text-align: center; }

.input-block {
  padding: 10px 30px;
  display: inline-block;
  width: 25%;
  box-sizing: border-box; }
  .input-block input,
  .input-block select {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid lightgrey;
    background: white;
    color: black;
    box-sizing: border-box; }
  .input-block input[type="checkbox"] {
    display: none; }
  .input-block label {
    padding: 8px 0;
    display: block; }
    .input-block label:after {
      content: " :"; }
  .input-block .react-datepicker-wrapper,
  .input-block .react-datepicker__input-container {
    width: 100%; }
  .input-block input[type="checkbox"] + label {
    padding: 8px 0 8px 24px;
    position: relative; }
    .input-block input[type="checkbox"] + label:before, .input-block input[type="checkbox"] + label:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
      transition: .2s all ease;
      transform: rotate(0deg); }
    .input-block input[type="checkbox"] + label:before {
      height: 10px;
      width: 12px;
      border-top: 1px solid black;
      border-bottom: 1px solid black; }
    .input-block input[type="checkbox"] + label:after {
      height: 12px;
      width: 10px;
      border-left: 1px solid black;
      border-right: 1px solid black; }
  .input-block input[type="checkbox"]:checked + label:before, .input-block input[type="checkbox"]:checked + label:after {
    border-color: red;
    transform: rotate(135deg); }
  .input-block input[type="checkbox"]:checked + label:before {
    top: 14px;
    height: 2px; }
  .input-block input[type="checkbox"]:checked + label:after {
    left: 4px;
    width: 2px; }

.action-block {
  width: 40%;
  display: block;
  margin: 36px auto; }
  .action-block button {
    width: 50%;
    padding: 16px;
    margin: 0;
    background: #7edeff;
    color: white;
    border: none;
    white-space: nowrap;
    box-sizing: border-box;
    box-shadow: 0 0 2px grey;
    overflow: hidden;
    transition: .1s all ease; }
  .action-block:hover button {
    width: 0;
    padding: 0; }
    .action-block:hover button:hover {
      width: 100%;
      padding: 16px;
      box-shadow: 0 0 6px black; }

.dropdown {
  display: block;
  border: 1px solid lightgrey;
  position: relative; }
  .dropdown__screen {
    padding: 8px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .dropdown__slider {
    width: calc(100% + 32px);
    max-height: 0;
    overflow: hidden;
    margin-left: -30px;
    position: absolute;
    z-index: 100;
    top: 33px;
    left: -1px;
    transition: .2s max-height ease; }
    .dropdown__slider:before {
      content: "";
      display: inline-block;
      width: calc(100% - 30px);
      position: absolute;
      bottom: 0;
      left: 30px;
      height: 1px;
      box-shadow: 0 0 3px grey; }
    .dropdown__slider:after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      box-shadow: 0 0 3px grey; }
    .dropdown__slider.open {
      max-height: 200px; }
  .dropdown__items {
    max-height: 200px;
    overflow-y: auto; }
    .dropdown__items li {
      border-left: 1px dashed grey;
      background-color: white;
      padding: 8px 12px;
      margin-left: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      transition: .2s all ease; }
      .dropdown__items li:hover {
        margin-left: 0;
        background-color: #7edeff;
        color: white;
        padding: 12px 16px; }
