.ic-loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(64, 64, 64, 0.5);
  top: 0;
  left: 0;
  z-index: 1000; }
  .ic-loading:before, .ic-loading:after {
    content: "";
    position: fixed;
    background: transparent;
    z-index: 1001; }
  .ic-loading:before {
    width: 32px;
    height: 32px;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    animation: rolling linear .3s infinite reverse; }
  .ic-loading:after {
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    animation: rolling linear .3s infinite; }

@keyframes rolling {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.result-table {
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0; }
  .result-table tr:nth-child(even) td {
    background: #e8fcf7; }
  .result-table td {
    border: 1px solid grey;
    padding: 4px 6px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .result-table .row__label {
    font-weight: bold; }
  .result-table .row__cell {
    max-width: 80px; }
  .result-table .row__header {
    background: black;
    color: white;
    border-color: white; }

.input-block {
  padding: 10px 16px;
  display: inline-block;
  width: 25%;
  box-sizing: border-box; }
  .input-block input,
  .input-block select {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid lightgrey;
    background: white;
    color: black;
    box-sizing: border-box; }
  .input-block input[type="checkbox"] {
    display: none; }
  .input-block label {
    padding: 8px 0;
    display: block; }
    .input-block label:after {
      content: " :"; }
  .input-block .react-datepicker-wrapper,
  .input-block .react-datepicker__input-container {
    width: 100%; }
  .input-block input[type="checkbox"] + label {
    padding: 8px 0 8px 24px;
    position: relative; }
    .input-block input[type="checkbox"] + label:before, .input-block input[type="checkbox"] + label:after {
      content: "";
      display: inline-block;
      position: absolute;
      transition: .2s all ease; }
    .input-block input[type="checkbox"] + label:before {
      top: 8px;
      left: 0;
      height: 12px;
      width: 12px;
      border: 1px solid grey; }
    .input-block input[type="checkbox"] + label:after {
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: 2px solid transparent;
      transform: rotate(-45deg); }
  .input-block input[type="checkbox"]:checked + label:before {
    border-color: #36f967;
    top: 22px;
    height: 0; }
  .input-block input[type="checkbox"]:checked + label:after {
    top: 8px;
    left: 3px;
    height: 3px;
    width: 10px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid #36f967;
    border-bottom: 2px solid #36f967; }

.action-block {
  width: 90%;
  display: block;
  margin: 36px auto; }
  .action-block button {
    width: 50%;
    padding: 16px;
    margin: 0;
    background: white;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 0 8px grey;
    transition: .3s all ease; }
  .action-block:hover button {
    width: 45%;
    padding: 8px;
    margin: 8px 0; }
    .action-block:hover button:hover {
      width: 55%;
      padding: 20px;
      box-shadow: 0 0 12px black; }
