.blocker__ground {
  display: block;
  font-size: 0;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }
  .blocker__ground:before, .blocker__ground:after {
    content: "";
    display: block;
    position: fixed;
    z-index: 10000;
    padding: 0;
    margin: 0;
    font-size: 0;
    border-width: 0;
    transition: .2s all ease; }
  .blocker__ground:before {
    bottom: 0;
    left: 0; }
  .blocker__ground:after {
    top: 0;
    right: 0; }
  .blocker__ground.lock:before {
    border-top: 50vh solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 50vh solid black;
    border-left: 50vw solid black; }
  .blocker__ground.lock:after {
    border-top: 50vh solid black;
    border-right: 50vw solid black;
    border-bottom: 50vh solid transparent;
    border-left: 50vw solid transparent; }

.lock .blocker__loader {
  display: block; }

.blocker__loader {
  display: none;
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 10001;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); }
  .blocker__loader .boxer {
    height: 160px;
    width: 400px; }
    .blocker__loader .boxer__center-sprocket {
      position: absolute;
      top: calc(50% - 65px);
      left: calc(50% - 65px);
      border: 20px double white;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      animation: roll 0.8s linear infinite; }
      .blocker__loader .boxer__center-sprocket:before {
        content: "";
        display: block;
        position: absolute;
        width: 130px;
        height: 130px;
        top: -30px;
        left: -30px;
        border: 10px dashed white;
        border-radius: 50%; }
    .blocker__loader .boxer__left-cylinder {
      position: absolute;
      top: 40%;
      width: 160px;
      height: 20%;
      animation: bump 0.4s ease-in-out infinite alternate; }
      .blocker__loader .boxer__left-cylinder .rod {
        position: absolute;
        right: 40px;
        top: calc(50% - 18px);
        height: 16px;
        border-top: 10px solid transparent;
        border-right: 0;
        border-bottom: 10px solid transparent;
        border-left: 120px solid white;
        border-radius: 25%;
        transform-origin: 100% 50%;
        animation: bi 0.4s ease-in-out infinite alternate;
        animation-delay: 0.2s; }
        .blocker__loader .boxer__left-cylinder .rod:before, .blocker__loader .boxer__left-cylinder .rod:after {
          content: "";
          display: inline-block;
          position: absolute;
          background: white;
          border-radius: 50%;
          box-shadow: 0 0 8px black; }
        .blocker__loader .boxer__left-cylinder .rod:before {
          top: calc(50% - 10px);
          right: -10px;
          width: 20px;
          height: 20px; }
        .blocker__loader .boxer__left-cylinder .rod:after {
          top: calc(50% - 20px);
          left: -140px;
          width: 40px;
          height: 40px; }
      .blocker__loader .boxer__left-cylinder .piston {
        position: absolute;
        height: 70px;
        width: 50px;
        right: 15px;
        top: calc(50% - 35px);
        background: white;
        z-index: -1; }
        .blocker__loader .boxer__left-cylinder .piston:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 2px;
          right: 4px;
          width: 3px;
          height: 66px;
          border: 1px solid black;
          border-top-width: 0px;
          border-bottom-width: 0px; }

@keyframes bump {
  from {
    left: 40%; }
  to {
    left: 60%; } }

@keyframes reverse-bump {
  from {
    left: -10%; }
  to {
    left: 10%; } }

@keyframes bi {
  from {
    transform: rotate(14deg); }
  to {
    transform: rotate(-14deg); } }

@keyframes roll {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.result-table {
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0; }
  .result-table tr:nth-child(even) td {
    background: #e8fcf7; }
  .result-table td {
    border: 1px solid grey;
    padding: 4px 6px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .result-table .row__label {
    font-weight: bold; }
  .result-table .row__cell {
    max-width: 80px; }
  .result-table .row__header {
    background: black;
    color: white;
    border-color: white; }

.input-block {
  padding: 10px 16px;
  display: inline-block;
  width: 25%;
  box-sizing: border-box; }
  .input-block input,
  .input-block select {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid lightgrey;
    background: white;
    color: black;
    box-sizing: border-box; }
  .input-block input[type="checkbox"] {
    display: none; }
  .input-block label {
    padding: 8px 0;
    display: block; }
    .input-block label:after {
      content: " :"; }
  .input-block .react-datepicker-wrapper,
  .input-block .react-datepicker__input-container {
    width: 100%; }
  .input-block input[type="checkbox"] + label {
    padding: 8px 0 8px 24px;
    position: relative; }
    .input-block input[type="checkbox"] + label:before, .input-block input[type="checkbox"] + label:after {
      content: "";
      display: inline-block;
      position: absolute;
      transition: .2s all ease; }
    .input-block input[type="checkbox"] + label:before {
      top: 8px;
      left: 0;
      height: 12px;
      width: 12px;
      border: 1px solid grey; }
    .input-block input[type="checkbox"] + label:after {
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: 2px solid transparent;
      transform: rotate(-45deg); }
  .input-block input[type="checkbox"]:checked + label:before {
    border-color: #36f967;
    top: 22px;
    height: 0; }
  .input-block input[type="checkbox"]:checked + label:after {
    top: 8px;
    left: 3px;
    height: 3px;
    width: 10px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid #36f967;
    border-bottom: 2px solid #36f967; }

.action-block {
  width: 90%;
  display: block;
  margin: 36px auto; }
  .action-block button {
    width: 50%;
    padding: 16px;
    margin: 0;
    background: white;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 0 8px grey;
    transition: .3s all ease; }
  .action-block:hover button {
    width: 45%;
    padding: 8px;
    margin: 8px 0; }
    .action-block:hover button:hover {
      width: 55%;
      padding: 20px;
      box-shadow: 0 0 12px black; }
