$base-padding: 16px

.action-block
  width: 90%
  display: block
  margin: 36px auto

  button
    width: 50%
    padding: $base-padding
    margin: 0
    background: white
    border: none
    box-sizing: border-box
    box-shadow: 0 0 8px grey
    transition: .3s all ease

  &:hover
    
    button
      width: 45%
      padding: $base-padding - 8px
      margin: 8px 0

      &:hover
        width: 55%
        padding: $base-padding + 4px
        box-shadow: 0 0 12px black

