$base-padding: 16px

.action-block
  width: 40%
  display: block
  margin: 36px auto

  button
    width: 50%
    padding: $base-padding
    margin: 0
    background: #7edeff
    color: white
    border: none
    white-space: nowrap
    box-sizing: border-box
    box-shadow: 0 0 2px grey
    overflow: hidden
    transition: .1s all ease

  &:hover
    
    button
      width: 0
      padding: 0

      &:hover
        width: 100%
        padding: $base-padding
        box-shadow: 0 0 6px black

