.input-block
  padding: 10px 16px
  display: inline-block
  width: 25%
  box-sizing: border-box

  input,
  select
    width: 100%
    padding: 8px 10px
    border: 1px solid lightgrey
    background: white
    color: black
    box-sizing: border-box

  input[type="checkbox"]
    display: none

  label
    padding: 8px 0
    display: block

    &:after
      content: " :"

  .react-datepicker-wrapper,
  .react-datepicker__input-container
    width: 100%

  input[type="checkbox"] + label
    padding: 8px 0 8px 24px
    position: relative

    &:before,
    &:after
      content: ""
      display: inline-block
      position: absolute
      top: 10px
      left: 0
      transition: .2s all ease
      transform: rotate(0deg)

    &:before
      height: 10px
      width: 12px
      border-top: 1px solid black
      border-bottom: 1px solid black

    &:after
      height: 12px
      width: 10px
      border-left: 1px solid black
      border-right: 1px solid black

  input[type="checkbox"]:checked + label

    &:before,
    &:after
      border-color: red
      transform: rotate(135deg)
    
    &:before
      top: 14px
      height: 2px

    &:after
      left: 4px
      width: 2px

