.result-table
  border-collapse: collapse
  width: 100%
  margin: 40px 0

  td
    border: 1px solid #dedede
    padding: 4px 6px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

  .row__label
    font-weight: bold
    text-align: left

  .row__cell
    max-width: 80px
    text-align: right

  .row__header
    font-weight: bold
    background: #d3d3d3
    text-align: center

